
.con-left{
    float: left;
    width: 150px;
    height: 300px;
    background-color: #fff;
    border: 1px solid #E6E5E5;
    margin-left: 150px;
    margin-top: 30px;
    text-align: center;
}
#touimg{
    margin: 10px 0;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.toutext{
    margin: 5px;
    font-size: 13px;
    color: rgba(183, 187, 195, 0.81);
}
.ifrli{
    height: 35px;
    margin: 20px 0;
    color: #fff;
    font-size: 18px;
    background-color: #3072F6;
    line-height: 35px;
}
.con-right{
    float: left;
    width: 130%;
    height:500px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;

}